{
  "presets": ["@babel/env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ],
    [
      "@babel/plugin-syntax-import-attributes",
      {
        "deprecatedAssertSyntax": true
      }
    ]
  ]
}